.Slider {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.Slider-input {
  width: var(--input-width--default);
  -webkit-appearance: none;
}

.Slider-input:focus {
  outline: none;
}

.Slider-input::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0;
  border: 0 solid #010101;
}

.Slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border: 5px;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0;
}

.Slider-input::-webkit-slider-thumb {
  box-shadow: 0 10px 10px rgba(0,0,0,0.25);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgba(255,255,255,1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.Slider-input:focus::-webkit-slider-thumb {
  background-color: var(--color-tertiary);
}

.Slider-input::-moz-range-thumb {
  box-shadow: 0 10px 10px rgba(0,0,0,0.25);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgba(255,255,255,1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.Slider-input::-moz-focus-outer {
  border: 0;
}

.Slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  padding: 0 6px;
}

