.NavigationFullscreen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: black;
  background-color: whitesmoke;
  font-size: 1.5rem;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 100ms var(--custom-timing-function);
}

.NavigationFullscreen.is-open {
  transform: translateX(0);
}

.NavigationFullscreen-topPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem auto;
}

.NavigationFullscreen-links {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
}

.NavigationFullscreen-links .NavbarLink {
  margin-top: 1rem;
}

@media screen and (max-width: 767px)  {
  .NavigationFullscreen {
    display: block;
  }
}