.Icon {
  display: flex;
  align-items: center;
}

/* Colors */
.Icon--black {
  color: black;
}

.Icon--white {
  color: white;
}

/* Sizes */
.Icon--sm, .Icon--sm svg {
  width: 16px;
  height: 16px;
}

.Icon--md, .Icon--md svg {
  width: 24px;
  height: 24px;
}

.Icon--lg, .Icon--lg svg {
  width: 36px;
  height: 36px;
}

.Icon--x-lg, .Icon--x-lg svg {
  width: 48px;
  height: 48px;
}