.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--wrapper);
  padding: 0 1rem;
  font-family: Lobster, cursive;
  font-size: 1.4rem;
}

.Navbar-links {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.Navbar-links + .NavbarLink {
  margin-left: 1rem;
}

.Navbar-collapse {
  display: none;
}

@media screen and (max-width: 767px) {
  .Navbar-links {
    display: none;
  }

  .Navbar-collapse {
    display: block;
  }
}